<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Star Wars Starship Viewer</title>
</head>
<body>
<h1>Star Wars Starship Viewer</h1>

<!-- Formulario de búsqueda -->
<form action="#" method="get">
    <input type="text" name="search" placeholder="Search by name" value="" />
    <input type="submit" value="Search" />
</form>

<!-- Tabla para mostrar los datos -->
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Created</th>

                <th><a th:href="@{/starships(sort=name,order=asc,search=${search})}">Name (Asc)</a></th>-->
                <th><a th:href="@{/starships(sort=name,order=desc,search=${search})}">Name (Desc)</a></th>-->
                <th><a th:href="@{/starships(sort=created,order=asc,search=${search})}">Created (Asc)</a></th>-->
                <th><a th:href="@{/starships(sort=created,order=desc,search=${search})}">Created (Desc)</a></th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="starship : ${starships}">
        <td th:text="${starship.name}"></td>
        <td th:text="${starship.created}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
